@model Labbeh.ViewModel.CompanyCategory

@{
    //Layout = "~/Views/Shared/_LayoutTest.cshtml";
    Layout = null;

}
<body>
    <div class="container">
        <form class="form-group" method="post" asp-action="CreateCompany">
            <label class="col-form-label">CompanyCategory</label>
            <select class="form-control" asp-for="DriverCompCatID" asp-items="@(new SelectList(Model.driversCompaniesCats,"ID","CompaniesType"))"></select>
            <label class="col-form-label">Code</label>
            <input asp-for="Code" class="form-control" />
            <label class="col-form-label">CompanyName</label>
            <input asp-for="CompanyName" class="form-control" />
            <label class="col-form-label">CompanyAddress</label>
            <input asp-for="CompanyAddress" class="form-control" />
            <label class="col-form-label">Phone1</label>
            <input asp-for="Phone1" class="form-control" />
            <label class="col-form-label">Phone2</label>
            <input asp-for="Phone2" class="form-control" />
            <button class="btn btn-block btn-outline-dark mt-2" type="submit" value="CreateCompany">Save Company</button>
        </form>

    </div>
</body>










@*



<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.js"></script>
</head>
<body>
<form method="post" asp-action="CreateCompany">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Code</label>
            <input asp-for="Code" class="form-control" id="inputEmail4" placeholder="Code">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">CompanyName</label>
            <input asp-for="CompanyName" class="form-control" id="inputPassword4" placeholder="CompanyName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">CompanyAddress</label>
        <input asp-for="CompanyAddress" class="form-control" id="inputAddress" placeholder="CompanyAddress">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input asp-for="Phone1" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Phone1</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Phone2</label>
            <input asp-for="Phone2" class="form-control" id="inputCity">
        </div>


        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select class="form-control" id="inputState" asp-for="DriverCompCatID" asp-items="@(new SelectList(Model.driversCompaniesCats,"ID","CompaniesType"))"></select>
        </div>
        
    <button class="btn btn-primary" type="submit" value="CreateCompany">Save Company</button>
    
</form>
</body>
</html>*@
