@model Labbeh.Models.Drivers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Drivers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DriverCode" class="control-label"></label>
                <input asp-for="DriverCode" class="form-control" />
                <span asp-validation-for="DriverCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverName" class="control-label"></label>
                <input asp-for="DriverName" class="form-control" />
                <span asp-validation-for="DriverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverPhone" class="control-label"></label>
                <input asp-for="DriverPhone" class="form-control" />
                <span asp-validation-for="DriverPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatitudeDefault" class="control-label"></label>
                <input asp-for="LatitudeDefault" class="form-control" />
                <span asp-validation-for="LatitudeDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongtitudeDefault" class="control-label"></label>
                <input asp-for="LongtitudeDefault" class="form-control" />
                <span asp-validation-for="LongtitudeDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverEmail" class="control-label"></label>
                <input asp-for="DriverEmail" class="form-control" />
                <span asp-validation-for="DriverEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverTTypeId" class="control-label"></label>
                <select asp-for="DriverTTypeId" class ="form-control" asp-items="ViewBag.DriverTTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DriverCompanyId" class="control-label"></label>
                <select asp-for="DriverCompanyId" class ="form-control" asp-items="ViewBag.DriverCompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
