@model Labbeh.Models.DriversCompaniesCat
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <form class="form-group" method="post" asp-action="Edit">
        <label class="col-form-label">CategoryCode</label>
        <input asp-for="Code" class="form-control" />
        <label class="col-form-label">CompanyType</label>
        <input asp-for="CompaniesType" class="form-control" />
        <button class="btn btn-block btn-outline-dark mt-2" type="submit">Save Company</button>
    </form>

</div>